@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 12px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 720px;
  margin: auto;
  padding-bottom: 100px;
}

.container.dark h1,
.container.dark h2,
.container.dark h3,
.container.dark h4,
.container.dark h5,
.container.dark p {
  color: white;
}

.container p {
  text-align: justify;
  font-family: 'Open Sans', serif;
  font-size: 0.9rem;
}

.container img {
  width: 100%;
  margin: 14px 0 14px;
}
