@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  min-height: 100vh;
  margin-bottom: 30px;
}

header{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
}

header p{
  color: #fafafa;
}

footer{
  z-index: 1;
  background: #ffffff;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 12px;
  width: 100%;
}

h2{
  margin: 0;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  color: #fafafa;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

a{
  text-decoration: none;
}

.iconwrapper{
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.icon{
  margin-right: 6px;
  transform: translateY(1px);
}

header, a, h3{
  color: #1f1f1f;
}

@keyframes load {
  from {
      left: -150px;
  }
  to   {
      left: 100%;
  }
}

.loading{
  position: relative;
  overflow: hidden;
  height:100%;
  width:100%;
}

.loading::before{
  content: '';
  display: block;
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  width: 200px;
  background: linear-gradient(to right,transparent 0%,#fafafa 80%,transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.skeleton{
  height: 350px;
  background-color: #efefef;
  border-radius: 20px;
}